html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
    padding:0;
    background-color: #fff;
}


/* nav */
.nav {
    color:#fff;
    background-color:black;
    height:60px;
    margin:0;
}


.nav ul {
    list-style: none;
    text-align:right;
    padding-top:15px;
}

.nav ul li {
    display:inline;
    font-size: 12px;
}

.btn {
    padding: 15px 25px 15px 25px;
    background-color:transparent;
    border-radius:5%;
    border: 1.5px solid orange;
    color: (236, 208, 116);
    text-decoration:none;  
}

.btn:hover {
    color:#fff;
    background-color:orange;
}

.btn:visited {
    color:white;
}


/* Cover */
.cover {
    background-size: cover;
    display:relative;
    height: 250px;
    padding-top:70px;
    width:100%;
    margin:0;
}

.cover h1 {
    color: orange;
    text-align:center;
    font-size: 50px;
    padding-top:20px;
}



/* Movie */
.movie {
    margin:auto;
    padding:40px 0 40px 0;   
}

.movie .row img {
    display:inline-block;
    padding: 5px 5px 5px 5px;  
}


/* Hottest */
.hottest {
    background-color:#fff;
    color:#000000;
    width:100%;
    margin:40px 0 40px 0;
    padding-bottom:30px;
    text-align: center;
}

.hottest h2 {
    text-transform: uppercase;
    color:orange;
    padding-bottom:30px;
    font-size:38px;
}

.hottest p {
    color:rgb(51, 102, 153);
    font-size:24px;
    font-style:italic;
    padding-bottom:20px;
}

.hottest .col-md-6 {
    width:200px;
    display:inline-block;
    border: 4px solid orange;
    text-align: center;
    margin: 0 50px 0 50px;
    padding: 20px 20px 20px 20px;
}

.hottest img {
    max-width:40%;
    height:auto;
    border-radius:2%;
}


/* news */

.news {
    color:#000000;
    margin: 60px 0 80px 0px;
    padding: 40px 0 40px 0;
    text-align:center;
}

.news .container h2 {
    text-decoration:underline;
    font-size:26px;
    color:orange;
}
.news .col-md-4 p {
    color:rgb(51, 102, 153);
    text-align:center;
    font-style: italic;
    font-weight:bold;
}
.news {
    margin:0;
}

.news p {
    font-size:16px;
    color:#000000;
    text-align:left;
}

#felicity-jones {
    max-width:70%;
    height:auto;
    border-radius:4%;
}

/* Footer */
.footer {
    background-color:#000000;
    padding-top:10px;
    color:#fff;
    height:70px;
    margin-top:0;
}