body {
    font-family: "Alegreya", serif;
    margin:0 auto;
}

/* nav */
.nav {
    color:rgb(23, 52, 147);
    height:51px;
    width:100%;
    margin-top:20px;
}

.nav .container {
    min-height: 100px;
    
}

.nav .menu {
    display: flex;
    justify-content:space-around;
    margin-top:-30px;
    margin-right: 40px;
}


.nav .menu {
    float:right;
}

.nav .menu p {
    display:inline-block;
    margin-right: 50px;
    font-size: 18px;
}






/* cover */
.cover {
    height:550px;
    margin:0 auto 0 auto;
}

.cover h1 {
    font-size:50px;
    margin-top:10px;
    padding-top:46px;
    font-size:74px;
    font-family: "Alegreya", serif;
    font-size:bold;
    text-shadow: 3px 3px 5px black;
}

.cover .title h3 {
    font-size:38px;
    margin-top:47px;
    margin-bottom:122px;
    font-family: "Alegreya", serif;
    font-size:bold;
    font-size:42px;
    text-shadow: 3px 3px 5px black;
}


.cover .title a {
    background-color:rgb(62, 112, 5);
    font-size:26px;
    text-decoration: none;
    padding: 14px 10px 14px 10px;
    border-radius:4px;    
    box-shadow: 2px 2px 5px grey;

}

.cover a:link {
    color:#fff;
}

.cover a:visited {
    color:#fff;
}





/* cover/title */
.title {
    text-align:center;
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/enchant-your-guests.jpg");
    background-size:cover;
    height: 390px; 
    color:#fff; 
}


/* features */
.features {
    background-color: rgb(23, 52, 147);
    color:#fff;
    display: flex;
    flex-direction:row;
    padding-top:10px;
    height:118px;
    line-height: 2px;
    
}

.features h4 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight:normal;
    margin:12px 0 18px 0;
}

.features img {
    width:62px;
    height: auto;
}

.features {
    display: flex;
    justify-content:center;
}

.features .feature-1,
.features .feature-2,
.features .feature-3 {
    width: 20%;
    text-align:center; 

}




/* main */

.main .container {
    margin: 0 auto;
    max-width: 1142px;
    }

.main .first-row,
.main .second-row {
    display:inline-block;
    text-align:left;
    margin:4px 4px 4px 4px;
}

.main .second-row {
    margin-top:8px;
}

.container-first-row,
.container-second-row {
    width:1142px;
}

#img-1 {
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/romance.jpg");
    background-size: contain;
    width:370px;
    height:300px;
}

.main #img-2 {
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/visitors.jpg");
    background-size: contain;
    width:370px;
    height:300px;
}

.main #img-3 {
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/picnic.jpg");
    background-size: contain;
    width:370px;
    height:300px;
}

.main #img-4 {
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/grill.jpg");
    background-size: contain;
    width:370px;
    height:300px;
}

.main #img-5 {
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/celebration.jpg");
    background-size: contain;
    width:370px;
    height:300px;
}

.main #img-6 {
    background-image: url("file:///Users/lindadamario/codingbootcamp/exercises/Project-2/img/kids.jpg");
    background-size: contain;
    width:370px;
    height:300px;
}

#img-6 {
    margin-left:8px;
}

.main h4 {
    background:rgba(0, 0, 0, .4);
    color:#fff;
    font-size:26px;
    font-weight:normal;
    margin:229px 0 0;
    padding:20px 0 24px 30px;
    font-family: "Open Sans", sans-serif;
    
}

/* nav query */
/* @media only screen and (max-width: 1160px) {

    .main .container{
        width:770px;
    }

    .container-first-row,
    .container-second-row {
        width:0;
    }

    .two-rows-1,
    .two-rows-2,
    .two-rows-2, {
        display:block;
    }
}


/* delivery */
.delivery {
    background-color: rgb(23, 52, 147);
    color:#fff;
    display:inline-block;
    height:418px;
    margin-top:40px;
}

.delivery .container .delivery-1 {
     display: flex;
    flex-direction:row;
    text-align:left;
    margin: 0 30px 0 30px;
}


.delivery h2 {
    padding-left:60px;
    padding-top:30px;
    font-size: 44px;
    margin:27px auto 36px 12px;
}

.delivery h4 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size:18px;
    margin-bottom: 27px;
}

.delivery p {
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    font-size:16px;
    font-weight:lighter;

}

.col-1,
.col-2,
.col-3 {
    margin: 0 20px 20px 20px;
}



